.main {
  height: auto;
  width: 100%;
  border: 1px solid var(--text-color);
  transition: all 0.3s linear;
  background: var(--skillsBoxbg-color);
}
.top {
  border-bottom: 1px solid var(--text-color);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
}
.bottom {
  padding: 15px;
  display: flex;
  flex-direction: column;
  line-height: 1.6rem;
}
.top::selection,
.bottom::selection {
  background: var(--text-color);
  color: var(--selection-color);
}
@media screen and (max-width: 460px) {
  .main {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
}
