.main {
  background-color: #1e1e1e;
  font-family: "Share Tech Mono", monospace;
  padding: 1rem 3rem 0 3rem;
  height: 100%;
  width: 100%;
  color: #ccc;
  position: relative;
}
.goToTop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
}
.social {
  position: fixed;
  height: 130px;
  z-index: 10;
}
.mail {
  position: fixed;
  z-index: 10;
  rotate: 90deg;
  top: 50%;
  right: -80px;
}
.mailLink {
  color: #ccc;
  text-decoration: none;
  transition: all 0.3s linear;
  font-size: 1rem;
}
.sideLine {
  width: 2px;
  background-color: #ccc;
  height: 218px;
  position: absolute;
  margin-left: 1rem;
}
.socialMedia1,
.socialMedia2,
.socialMedia3 {
  position: absolute;
  bottom: -15px;
  left: 5px;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMedia1 {
  height: 45px;
  width: 45px;
  bottom: -25px;
  left: -5px;
  z-index: 0;
  background-color: #ccc;
  color: #0d0d0d;
}
.socialMedia2 {
  border: 2.2px solid #ccc;
  height: 65px;
  width: 65px;
  z-index: -99;
  bottom: -55px;
  left: 22px;
}
.socialMedia3 {
  bottom: -85px;
  height: 40px;
  width: 30px;
  left: 5px;
  background-color: #ccc;
  color: #0d0d0d;
}
.sectionOne {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 3rem;
}
.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s linear;
}
.buttonContainer {
  display: flex;
  width: 100%;
}
.button {
  border: 2px solid #ccc;
  height: 40px;
  width: 150px;
  color: #ccc;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  transition: all 0.3s linear;
}
.button:hover{
  background: #ccc;
  color: #1e1e1e;
  border: 2px solid #1e1e1e;
}
.left {
  height: 100%;
  width: 60%;
}
.right {
  height: 100%;
  width: 35%;
}
.paraOne {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00ff00;
  text-shadow: 0 0 3px #00ff00;
  margin-bottom: 1rem;
}
.paraOne::selection {
  background: #ccc;
  color: #0d0d0d;
  text-shadow: 0 0 3px #0d0d0d;
}
.paraTwo {
  font-size: 1.4rem;
  line-height: 1.6;
  max-width: 800px;
  padding: 0px 10px 10px 0;
  margin-bottom: 1rem;
}
.main::selection {
  background: #ccc;
  color: #0d0d0d;
}
.paraThree {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 800px;
  padding: 0px 10px 10px 0;
  opacity: 0.9;
}
.highlight {
  color: #00ff00;
  font-weight: bold;
}
.highlight::selection {
  color: #0d0d0d;
}
.glitchImg {
  background-image: url("../../assets/glitchImage-removebg-preview.png");
  width: 350px;
  height: 250px;
  transition: all 0.3s linear;
  background-size: contain;
  background-repeat: no-repeat;
  animation: glitch 3.5s infinite steps(1);
}
@keyframes glitch {
  0%,
  100% {
    background-image: url("../../assets/glitchImage-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  92.5% {
    background-image: url("../../assets/glitch1.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
  }
  95% {
    background-image: url("../../assets/glitch2.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
  }
  97.5% {
    background-image: url("../../assets/glitch3.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
  }
}
.sectionTwo,
.sectionThree,
.sectionFour,
.sectionFive {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sectionTwoTop {
  height: 100%;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 3rem;
  position: relative;
}
.sectionTwoParaOne {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00ff00;
  text-shadow: 0 0 3px #00ff00;
}
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
.sectionThreeBottom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin-top: 2rem;
}
.sectionThreeLeft {
  width: 40%;
  position: relative;
  opacity: 1;
  transition: all 0.3s linear;
}
.box1 {
  position: absolute;
  bottom: -350px;
  left: 5%;
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
}
.box2 {
  position: absolute;
  bottom: -425px;
  left: 90%;
  height: 64px;
  width: 64px;
  border: 1px solid #ccc;
  border-radius: 65px;
}
.box3,
.box5 {
  position: absolute;
  bottom: -200px;
  left: 70%;
  display: grid;
  grid-template-columns: repeat(4, 10px);
  grid-template-rows: repeat(4, 10px);
  gap: 10px;
}
.box5 {
  top: 480px;
  left: 23%;
  grid-template-columns: repeat(3, 10px);
  grid-template-rows: repeat(3, 10px);
}
.dot {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
}
.sectionThreeRight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s linear;
}
.sectionThreeRight > *:nth-child(4) {
  grid-column: 2;
}
.sectionThreeRight > *:nth-child(5) {
  grid-column: 3;
}
.sectionThreeRight > *:nth-child(6) {
  grid-column: 3;
}
.academicsContainer p {
  margin-bottom: 10px;
}
.sectionFourBottom {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: flex-start;
  height: 100%;
  margin: 2rem 0rem 2rem 30px;
  gap: 1rem;
}
.academicsContainer,
.webDevelopmentContainer,
.appDevelopmentContainer,
.funFactsContainer {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  width: 90%;
}
.viewProjects {
  background: transparent;
  border: 2px solid #ccc;
  color: #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.funFactsContainer ul {
  padding-left: 0.5rem;
}
.funFactsContainer li {
  margin-bottom: 5px;
  list-style-type: circle;
}
.sectionFiveBottom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.contactDescription {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  width: 50%;
  padding-left: 3rem;
}
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  width: 100%;
}
.contactFormInputs {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #0d0d0d;
  background: #ccc;
}
.contactForm button {
  font-size: 1rem;
  font-weight: 600;
  padding: 12px;
  background: #1e1e1e;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 7px;
  transition: all 0.3s linear;
}
.contactForm button:hover {
  background: #ccc;
  color: #1e1e1e;
}
.sectionSixBottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0 0 3rem;
}

@media screen and (max-width: 960px) {
  .glitchImg {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 800px) {
  .sectionOne {
    margin-left: 0;
    align-items: center;
  }
  .content {
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
  .right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonContainer {
    justify-content: center;
  }
  .contactDescription {
    width: 100%;
    padding-left: 1.5rem;
  }
  .sectionFiveBottom {
    flex-direction: column;
    align-items: center;
  }
  .contactForm {
    width: 80%;
  }
}
@media screen and (max-width: 630px) {
  .sectionThreeLeft {
    opacity: 0;
    width: 0;
  }
  .mail {
    right: -95px;
  }
  .sectionSixBottom {
    justify-content: center;
    padding-left: 0;
  }
  .sectionTwoTop {
    margin-left: 0;
  }
  .academicsContainer,
  .webDevelopmentContainer,
  .appDevelopmentContainer,
  .funFactsContainer {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .left {
    width: 100%;
    font-size: 1rem;
  }
  .content {
    max-width: 95%;
  }
  .main {
    padding: 2rem;
  }
  .sideLine {
    height: 110px;
  }
  .socialMedia1,
  .socialMedia2,
  .socialMedia3 {
    border: none;
    background: transparent;
    color: #ccc;
    bottom: -10px;
    left: 5px;
    height: 40px;
    width: 25px;
  }
  .socialMedia2 {
    bottom: -40px;
    left: -10px;
    height: 45px;
    width: 45px;
  }
  .socialMedia3 {
    bottom: -75px;
    left: 0px;
  }
  .sectionThreeRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .sectionThreeRight > * {
    width: 40%;
    min-width: 120px;
    transform: translate(0, 0);
  }
  .sectionFourBottom {
    margin-left: 0;
    justify-items: flex-start;
    width: 100%;
  }
  .contactFormInputs {
    flex-direction: column;
  }
  .contactForm {
    max-width: 350px;
    width: 95%;
  }
  .contactForm button:hover {
    background: #1e1e1e;
    color: #ccc;
  }
  .contactDescription{
    width: 95%;
    padding-left: 0;
  }
}
@media screen and (max-width: 350px) {
  .academicsContainer,
  .webDevelopmentContainer,
  .appDevelopmentContainer,
  .funFactsContainer {
    width: 90%;
  }
}
