.main {
  background-color: #1e1e1e;
  font-family: "Share Tech Mono", monospace;
  padding: 3rem;
  height: 100%;
  width: 100%;
  color: #ccc;
  position: relative;
}
.goToTop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
}
.social {
  position: absolute;
  height: 130px;
  z-index: 99;
}
.sideLine {
  width: 2px;
  background-color: #ccc;
  height: 110px;
  position: absolute;
  margin-left: 1rem;
}
.socialMedia1,
.socialMedia2,
.socialMedia3 {
  position: absolute;
  bottom: -15px;
  left: 5px;
  color: #ccc;
}
.socialMedia2 {
  bottom: -62px;
}
.socialMedia3 {
  bottom: -110px;
}
.sectionOne {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 3rem;
}
.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s linear;
}
.buttonContainer {
  display: flex;
  width: 100%;
}
.button {
  border: 2px solid #00ff00;
  height: 40px;
  width: 150px;
  color: #ccc;
  border-radius: 3px;
  font-size: 1rem;
  background: transparent;
}
.left {
  height: 100%;
  width: 60%;
}
.right {
  height: 100%;
  width: 35%;
}
.paraOne {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00ff00;
  text-shadow: 0 0 3px #00ff00;
  margin-bottom: 1rem;
}
.paraOne::selection {
  background: #ccc;
  color: #0d0d0d;
  text-shadow: 0 0 3px #0d0d0d;
}
.paraTwo {
  font-size: 1.4rem;
  line-height: 1.6;
  max-width: 800px;
  padding: 0px 10px 10px 0;
  margin-bottom: 1rem;
}
.paraTwo::selection,
.paraThree::selection,
.button::selection,
.sectionTwoParaOne::selection,
.viewAll::selection {
  background: #ccc;
  color: #0d0d0d;
}
.paraThree {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 800px;
  padding: 0px 10px 10px 0;
  opacity: 0.9;
}
.highlight {
  color: #00ff00;
  font-weight: bold;
}
.highlight::selection {
  color: #0d0d0d;
}
.glitchImg {
  background-image: url("../../assets/glitchImage-removebg-preview.png");
  width: 350px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: glitch 3.5s infinite steps(1);
}
@keyframes glitch {
  0%,
  100% {
    background-image: url("../../assets/glitchImage-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  92.5% {
    background-image: url("../../assets/glitch1.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
  }
  95% {
    background-image: url("../../assets/glitch2.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
  }
  97.5% {
    background-image: url("../../assets/glitch3.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
  }
}
.sectionTwo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sectionTwoTop {
  height: 100%;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 1.5rem;
  position: relative;
}
.sectionTwoParaOne {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00ff00;
  text-shadow: 0 0 3px #00ff00;
}
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .sectionOne {
    margin-left: 0;
    align-items: center;
  }
  .content {
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 460px) {
  .left {
    width: 90%;
    font-size: 1rem;
  }
  .content {
    max-width: 95%;
  }
  .main {
    padding: 2rem;
  }
}
