.main {
  height: auto;
  width: 330px;
  border: 1px solid #ccc;
  margin-top: 2rem;
}
.imgContainer {
  border-bottom: 1px solid #ccc;
  display: flex;
}
.image {
  height: 200px;
  width: 100%;
  object-fit: contain;
}
.projectTitle,
.projectTechnologies {
  padding: 0.3rem 1rem;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  line-height: 1.6rem;
  color: white;
}
.projectTitle::selection,
.projectTechnologies::selection,
.projectDescription::selection,
.button::selection {
  background: #ccc;
  color: #0d0d0d;
}
.projectDescription {
  padding: 0.3rem 1rem;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  line-height: 1.2rem;
  color: rgb(176, 176, 176);
}
.buttonContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0.7rem 0;
}
.button {
  height: 35px;
  font-size: 1rem;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 5px;
  background-color: #1e1e1e;
  padding: 0 1rem;
}
