.notFoundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--selection-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.notFoundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
